{% extends "host/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="form-horizontal" role="form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-1 control-label">Username:</label>
        <div class="col-sm-3">
            <input type="input" class="form-control" name="username" placeholder="Enter Username">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-1 control-label">Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" name="password" placeholder="Enter Password">
        </div>
    </div>
    <div class="col-sm-offset-1 col-sm-3">
        <input class="btn btn-primary" type="submit" value="login" />
    </div>
    <input type="hidden" name="next" value="{% url 'index' %}" />
</form>

{% endblock %}

