{% extends "bare/base.html" %}
{% block content %}

<h2>{{ title }}</h2>

{% if error %}
<h2 style="color:red"> {{error}} </h2> 
{% endif %}

<table class="table table-striped">
{% if printers %}
    <tr>
    <th>Hostname</th>
    {% for field in printers %}
        <th>{{field}}</th>   
    {% endfor %}
    </tr>
{% endif %}

{% for host in hostlist %}
    <tr>
    <td>{{ host.hostname }}</td>
    {% if printers %}
        {% for kv, vallist, safeval in host.hostview %}
            <td>
            {% for val in vallist %}
                {{val.value}}
            {% endfor %}
            </td>
        {% endfor %}
    {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}
{# EOF #}
