{% extends "bare/base.html" %}
{% block content %}

<h2>{{ title }}</h2>

{% if error %}
<h2 style="color:red"> {{error}} </h2> 
{% endif %}

<table class="table table-striped">
<tr>
<th>Hostname</th>
{% for host,kvlist,hostlink in hostlist %}
    {% if forloop.first %}
        {% for kv,vallist,safeval in kvlist %}
            <th>{{kv}}</th>
        {% endfor %}
    {% endif %}
<th>
{% endfor %}
</tr>
{% for host,kvlist,hostlink in hostlist %}
    <tr>
    <td>{{ host }}</td>
    {% for kv,vallist,safeval in kvlist %}
        <td>
        {% for val in vallist %}
            {{val.value}}
        {% endfor %}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}
{# EOF #}
