{% extends "host/base.html" %}
{% block title %} Editing {{host}} {% endblock %}

{% block content %}
{% if editing %}
    {% include "host/hostediting.template" %}
{% else %}
    Change the values of a host
    <form action="{% url 'hostEditChoose' %}" method="POST">
    {% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Edit" class="btn btn-primary">
    </form>
{% endif %}

{% endblock %}
{# EOF #}
