{% extends "host/base.html" %}
{% block title %} Host {{ host.hostname }} details {% endblock %}
{% block content %}
<table>
    <tr><td>
    {% include "host/showall.template" %}
    </td></tr>
</table>
{% endblock %}
{# EOF #}
